@model IEnumerable<Booker.Models.Books>

@{
    ViewData["Title"] = "Book Catalog";
}

<h1>Catalog</h1>

@using (Html.BeginForm())
{
    <p>
        Find by title or author: @Html.TextBox("SearchString")  
        <input type="submit" value="Search" /></p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                Title
                @Html.ActionLink(" (sort)", "Catalog", new { sortOrder = ViewBag.TitleSortParm })
            </th>
            <th>
                Author
                @Html.ActionLink(" (sort)", "Catalog", new { sortOrder = ViewBag.AuthorSortParm })
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Publisher)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Publisher)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>

        </tr>
}
    </tbody>
</table>
